:root{
  --main-blue: #06CDD9;
  --color-correct: #06d950;
  --color-incorrect: #f33f2f;
  --color-golden: #eecb2c;
  --color-dark: #011A19;
}


/* Permanent visual styles =========================================================== */
*{
  font-family: "JetBrains Mono", monospace;
}

#topFov, #bottomFov{
  width: 100dvw;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#topFov{
  height: 100px;
  background-image: url(./imgs/topFov.webp);
  top: 0;
  background-position: center bottom;
}
#bottomFov{
  height: 100px;
  background-image: url(./imgs/bottomFov.webp);
  bottom: 0;
  background-position: center top;
}

main{
  width: 100dvw; height: 100dvh;
  background-color: #011A19;
  color: white;
  overflow: hidden;
  background-image: url(./imgs/starBackdrop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  place-items: center;
}

/* Style kit ========================================================================= */
button.primary{
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  background-color: var(--main-blue);
  border: var(--main-blue) 2px solid;
  border-radius: 4px;
  cursor: pointer;

  &:hover{
    background-color: #c1f0f4;
    box-shadow: 0 0 16px var(--main-blue);
  }
}

button.secondary{
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  background-color: transparent;
  border: var(--main-blue) 2px solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: #108bbf;
    box-shadow: 0 0 16px var(--main-blue);
  }
}

/* Enable sound initial pop-up ======================================================= */
#enableSound{
  width: 100dvw; height: 100dvh;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: none;
  z-index: 9;
  color: white;
  font-family: "JetBrains Mono", monospace;
  background-image: url(./imgs/soundBackdrop.webp);
  background-position: center;
  background-size: cover;

  > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  h2{
    font-size: 2.5rem;
  }

  p, button{
    font-size: 1.25rem;
  }
}

/* Menu ============================================================================== */

#menuView{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img{
    width: 30dvw;
    margin-bottom: 2rem;
  }

  p{
    text-align: center;
    font-style: italic;
    font-size: 2rem;

    span{
      font-weight: bold;
    }
  }

  #levelSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div{
      display: flex;
      align-items: center;
    }

    button{
      width: 5rem;
      height: 3.5rem;
      margin: 0.5rem;
      font-size: 1.7rem;
      font-weight: bold;
      font-style: italic;
      background-color: transparent;
      border: var(--main-blue) 2px solid;
      border-radius: 4px;
    }

    button.locked{
      background-color: #06ced95e;
      cursor: not-allowed;
      color: white;
    }
  
    button.unlocked{
      background-color: var(--main-blue);
      cursor: pointer;

      &:hover{
        background-color: #c1f0f4;
        box-shadow: 0 0 16px var(--main-blue);
      }
    }

    button.triple{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.25rem;
      gap: 8px;
      width: 17rem;
      letter-spacing: -10%;
      font-size: 1.25rem;
      font-style:  normal;
      color: black;
      background-color: #c1f0f4;
      border-color: #c1f0f4;
      cursor: pointer;

      & img{
        width: 24px;
        margin: 0;
      }

      &:hover{
        background-color: #ffffff;
        box-shadow: 0 0 16px var(--main-blue);
      }
    }
  }  
}


/* Gameplay content ================================================================== */

/* Progress bars ================================================= */
progress{
  --color: var(--main-blue);

  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;

  &::-webkit-progress-bar{
    background-color: transparent;
  }
  &::-moz-progress-bar{
    background-color: transparent;
  }
}

#timeBar{
  position: absolute;
  left: -6rem;
  bottom: 48%;
  transform: rotateZ(270deg);
  width: 65dvh;
  height: 20px;

  &::-webkit-progress-value{
    background: url(./imgs/timeBar.webp);
    background-size: 65dvh;
    background-repeat: no-repeat;
  }
  &::-moz-progress-bar{
    background: url(./imgs/timeBar.webp);
    background-size: 65dvh;
    background-repeat: no-repeat;
  }

}

#streakPanel{
  position: absolute;
  right: -6.5rem;
  bottom: 45%;
  display: flex;
  transform: rotate(270deg);
  
  #streakBar{
    width: 56dvh;
    height: 20px;
    margin-top: 0.8rem;

    &::-webkit-progress-value{
      background: url(./imgs/streakBar.webp);
      background-size: 56dvh;
      background-repeat: no-repeat;
    }

    &::-moz-progress-bar{
      background: url(./imgs/streakBar.webp);
      background-size: 56dvh;
      background-repeat: no-repeat;
      margin-top: 0;
    }
  }

  #currentStreak{
    border: var(--main-blue) 2px solid;
  }

  p{
    width: 4rem; height: 2.5rem;
    transform: rotate(90deg);
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 4px;
    background-color: #00000050;
    font-weight: 700;
  }
}


/* Inner game display ============================================ */
#gameContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #statPanel{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 1rem;

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p:nth-child(1){
        text-transform: uppercase;
      }

      p:nth-child(2){
        font-size: 3rem;
      }
    }
  }
  
  #displayWrapper{
    border-radius: 12px;
    margin: 3rem 0 3rem;
    padding: 4px;
    border: var(--main-blue) 2px solid;
    box-shadow: 0 0 16px var(--main-blue);
  
    #display{
      padding: 1.25rem 1.75rem;
      border-radius: 8px;
      background-color: #00000030;
      display: flex;
      gap: 8px;
      border: var(--main-blue) 2px solid;
      transition: inherit;

      .light{
        width: 4rem; height: 4rem;
      
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
      
        background-image: url(./imgs/selectionLightOff.webp);
      
        &.color0{ background-image: url(./imgs/selectionLight0.webp); }
        &.color1{ background-image: url(./imgs/selectionLight1.webp); }
        &.color2{ background-image: url(./imgs/selectionLight2.webp); }
        &.color3{ background-image: url(./imgs/selectionLight3.webp); }
        &.color4{ background-image: url(./imgs/selectionLight4.webp); }
        &.color5{ background-image: url(./imgs/selectionLight5.webp); }
        &.color6{ background-image: url(./imgs/selectionLight6.webp); }
        &.color7{ background-image: url(./imgs/selectionLight7.webp); }
      }
    }
  }
  
  #inputPanel{
    background-color: #00000050;
    border: #ffffffcc 1px solid;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 12px white;

    .keycap{
      width: 4.2rem; height: 3.5rem;
      
      border: none;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;

      &:hover{
        filter: drop-shadow(0 0 8px #ffffff80);
      }
    
      &#key0{ background-image: url(./imgs/keyCap0.webp); }
      &#key1{ background-image: url(./imgs/keyCap1.webp); }
      &#key2{ background-image: url(./imgs/keyCap2.webp); }
      &#key3{ background-image: url(./imgs/keyCap3.webp); }
      &#key4{ background-image: url(./imgs/keyCap4.webp); }
      &#key5{ background-image: url(./imgs/keyCap5.webp); }
      &#key6{ background-image: url(./imgs/keyCap6.webp); }
      &#key7{ background-image: url(./imgs/keyCap7.webp); }
    
      &:active, &.active{
        &#key0{ background-image: url(./imgs/keyCapPressed0.webp); }
        &#key1{ background-image: url(./imgs/keyCapPressed1.webp); }
        &#key2{ background-image: url(./imgs/keyCapPressed2.webp); }
        &#key3{ background-image: url(./imgs/keyCapPressed3.webp); }
        &#key4{ background-image: url(./imgs/keyCapPressed4.webp); }
        &#key5{ background-image: url(./imgs/keyCapPressed5.webp); }
        &#key6{ background-image: url(./imgs/keyCapPressed6.webp); }
        &#key7{ background-image: url(./imgs/keyCapPressed7.webp); }
      }
    }
  }
}

/* Meta buttons: ================================================= */
.metaButton{
  margin: 1rem 2rem 0;
  padding: 0.5rem 1.5rem;
  border: transparent 1px solid;
  border-radius: 2px;
}
#buttonPause{
  background-color: #f33f2f60;
  border-color: var(--color-incorrect);
  color: white;
  cursor: pointer;

  &:hover{
    background-color: var(--color-incorrect);
  }
}
#buttonLevelUp{
  background-color: #90b0b360;
  border-color: #90b0b3;
  cursor: not-allowed;
  
  &.enabled{
    background-color: #eecb2c60;
    border-color: var(--color-golden);
    color: white;
    cursor: pointer;
    
    &:hover{
      background-color: var(--color-golden);
    }
  }
}

/* Other menus ======================================================================= */

#settingsView, #statsView{
  display: none;
  width: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 3rem 5rem;
  border: #108bbf 2px solid;
  border-radius: 8px;
  background-color: var(--color-dark);
  color: white;
  box-shadow: 0 0 32px black;

  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
  line-height: 150%;

  div{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  h1{
    font-family: "Chakra Petch";
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  img{
    width: 38px;
    padding: 12px;
    border: 3px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
      border-color: #108bbf;
      background-color: #108bbf60;
    }
  }
  hr{ margin-bottom: 2rem; }
}

/* Pause view ==================================================== */
#pauseView {
  display: none;
  position: fixed;
  top: 0;
  width: 100dvw; height: 100dvh;
  background-color: #011A19;
  color: white;
  z-index: 1;
  background-image: url(./imgs/starBackdrop.webp);
  background-size: cover;
  letter-spacing: 4px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-family: "Chakra Petch";
    font-size: 7rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  button{
    padding: 0.75rem 2rem;
    margin: 5rem 2rem 0;
    font-size: 2rem;
    border-radius: 4px;
    background-color: #011A1960;
    color: white;
    border: 2px var(--main-blue) solid;
    cursor: pointer;

    &:hover{
      background-color: var(--main-blue);
      color: black;
      font-style: italic;
    }

    &.red{
      border-color: var(--color-incorrect);
      &:hover{ 
        background-color: red; 
        color: white;
      }
    }
  }
}

/* Settings view ================================================= */
#settingsView {
  font-family: inherit;
}


/* Animations ======================================================================== */
  #displayWrapper, #currentStreak{
    transition: border 1s, box-shadow 1s;
  }

  /* Correct */
  #gameView.correct #displayWrapper, #gameView.correct #display, #gameView.correct #currentStreak{
    --main-blue: var(--color-correct);
    transition: none;
  }

  /* Incorrect */
  #gameView.incorrect #displayWrapper, #gameView.incorrect #display, #gameView.incorrect #currentStreak{
    --main-blue: var(--color-incorrect);
    transition: none;
  }

  /* Level up */
  #gameView.golden #displayWrapper, #gameView.golden #display, #gameView.golden #currentStreak{
    --main-blue: var(--color-golden);
    transition: none;
  }

  /* Fade out menu */
  .fadeOut{
    opacity: 0;
    transform: scale(75%);
    transition: all 0.5s;
  }

  .fadingIn{
    opacity: 1;
    transform: scale(100%);
    transition: all 0.5s;
  }